li{
    list-style-type: none;
}

img {
    max-width: 100%;
}

.octocat{
    width: 30%;
    float: left;
    margin: 10px 10px;
    font-family: Arial, Helvetica, sans-serif
}

.octocat img {
    border: solid 1px #C9C9C9;
    border-radius: 2px;
}



li.octocat{
    border-bottom: solid 1px #C9C9C9;

}

.authors img{
    width: 20px;
    border: none;
}

.image-footer{
    color: #C9C9C9;
}

.image-number{
    float: left;
    margin-top: 5px;
    font-size: small;
    font-weight: bold;
}

.image-number:before {
    content: "#";
}

.image-caption{
    float: right;
    display: inline;
}

.image-caption span, .image-caption a{
    margin-bottom: 13px;
    display: inline-block;
}

.image-caption span{
    color:  #7F7C7C;
    font-weight: bold;
    font-size: small;
}
.authors li{
    display: inline;
    padding: 0px;
}

ul.authors{
    display: inline;
    padding: 0px;
}

a:link{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
}